.dish {
    display: flex;
    justify-content: space-between;
}

.ingredients {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.ingredient:not(:last-child) {
    margin-bottom: 5px;
}

.min {
    color: var(--color-header-bg);
}

.norm {
    color: var(--color-accent-dark);
}

.max {
    color: var(--color-error);
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count {
    min-width: 25px;
    display: block;
    text-align: center;
} 