.clear {
    max-width: 200px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--color-text);
    color: var(--color-text);
    background-color: var(--color-white);
    font-weight: 600;
    width: 100%;
  }
  
  .clear:hover {
    color: var(--color-white);
    background-color: var(--color-text);
  }
  
  .clear:focus {
    color: var(--color-white);
    background-color: var(--color-text);
  }
  
  .clear:active {
    border: 1px solid var(--color-text);
    color: var(--color-text);
    background-color: var(--color-white);
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

